@charset "UTF-8";

body {
  font-size: 12px;
  line-height: 1;

  letter-spacing: 1px;
  word-break: break-all;

  color: #888;
}

a {
  text-decoration: none;

  color: #888;
}

li {
  list-style: none;
}

header {
  display: inline-block;

  width: 100%;
}

header .logo {
  position: absolute;

  padding: 10px 0 0 20px;
}

header .logo img {
  z-index: 2;

  width: 75px;
  height: auto;
}

header .navbar ul {
  position: relative;

  display: flex;
  float: right;

  margin: 15px 0;
}

header .navbar ul li {
  margin-top: 25px;
  /* margin: 30px 20px 0; */
}

header .navbar ul li a {
  font-size: 15px;
  font-weight: bold;

  padding: 35px 16px;

  color: #555;
}

header .navbar ul li a:hover {
  color: #fff;
  /* color: #5B8FAD; */
  background: #5B8FAD;
}

header .navbar ul li.contact a {
  padding: 15px 25px;

  color: #fff;
  border-radius: 30px;
  background-color: #AD8B5C;
}

header .navbar ul li.contact a:hover {
  opacity: 0.5;
}

header .drawer {
  visibility: hidden;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 60vh;
  margin: 25px auto;

  text-align: center;

  background-image: url("/img/main.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.top .inner {
  z-index: 2;
  bottom: 250px;

  display: inline-block;

  /* margin-right: 100px; */
}

.font1 {
  margin-bottom: 25px;
  padding: 0 16px 16px;

  text-align: center;

  background: rgba(255, 255, 255, 0.7);
}

.font1 p {
  font-size: 40px;
  font-weight: bold;

  margin-bottom: 24px;

  color: #5B8FAD;
  background: -webkit-linear-gradient(35deg, #5B8FAD, #2A4D61);
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

.font1 small {
  font-size: 25px;
  font-weight: bold;

  margin-bottom: 25px;

  color: #666;
}

/* .top .top_img {
  display: inline-block;
  position: relative;
}

.top .top_img img {
  width: 500px;
  height: auto;
} */


.feature {
  width: 80%;
  margin: 0 auto;
}

.feature .inner {
  margin-bottom: 100px;
  padding: 0 32px;
}

.feature .inner p {
  font-size: 16px;
  line-height: 1.7;
}

.font2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;

  margin-bottom: 10px;

  text-align: center;

  color: #5B8FAD;
}

/* .font2::after {
  display: inline-block;

  width: 100px;
  height: 2px;
  margin-left: 20px;

  content: "";
  vertical-align: middle;

  background: #5B8FAD;
} */

.section {
  position: relative;

  padding: 150px 0;

  background: linear-gradient(10deg, #FAF5F5 20%,#CFEAFA 70%,#9DD8FA);
  background-attachment: fixed;
}

/* .section::after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  display: block;

  width: 100%;
  height: 600px;

  content: "";

  background: linear-gradient(10deg, #FAF5F5 20%,#5B8FAD 40%,#2A4D61);
  background-attachment: fixed;
} */

/* .intro {
  background: rgb(250, 245, 245);
} */

.intro .inner {
  position: relative;
  z-index: 2;
}

.font3 {
  font-size: 45px;
  line-height: 1.5;

  padding-bottom: 50px;

  text-align: center;

  color: #555;
}

.font3 small {
  font-size: 11px;

  display: block;
}

.app {
  width: 85%;
  margin: 0 auto 80px;
  padding: 100px 20px;

  border-radius: 30px;
  background: linear-gradient(#fff, rgb(250, 245, 245));
}

.app_wrap {
  display: flex;

  width: 80%;
  margin: 0 auto;

  gap: 40px;
}

.app:nth-child(even) .app_wrap {
  flex-direction: row-reverse;
}

/* .app .app_item {
  margin: 75px 50px 0 0;
} */

.font4 {
  font-size: 25px;
  line-height: 1.3;

  padding: 30px 0;
}

.font5 {
  font-size: 18px;
  line-height: 1.5;

  margin-bottom: 20px;
}

.font5 strong {
  color: #AD8B5C;
}

.app .descript {
  font-size: 14px;
  line-height: 2;
}

.app .app_img {
  display: inline-block;
}

.app .app_img img {
  width: 300px;
  height: auto;
}

/* .how {
  background: rgb(250, 245, 245);
} */

.how .inner {
  position: relative;
  z-index: 2;

  text-align: center;
}

.how_to {
  line-height: 2;

  display: inline-block;

  width: 40%;
  padding-bottom: 100px;

  border-radius: 30px;
  background: linear-gradient(#fff, rgb(250, 245, 245));
}

.how_list li {
  font-size: 16px;

  width: 60%;
  margin: 0 auto;
  padding: 2px;

  border: 2px solid #ddd;
  border-radius: 10px;
}

/* .faq {
  background: rgb(250, 245, 245);
} */

.faq .inner {
  position: relative;
  z-index: 2;
}

.faq .txt {
  width: 80%;
  margin: 0 auto;
  padding: 60px;

  border-radius: 30px;
  background: linear-gradient(#fff, rgb(250, 245, 245));
}

.faq .txt ul li {
  margin-bottom: 16px;
}

.faq .txt ul li, p {
  font-size: 16px;
  line-height: 2;
}

.faq .txt ul li::before {
  display: inline-block;

  width: 10px;
  height: 10px;
  margin-right: 6px;

  content: "";

  border-radius: 50%;
  background-color: #555;
}

.faq .txt ul p strong {
  color: #AD8B5C;
}

.faq .more {
  width: 30%;
  margin: 50px auto 0;
  padding: 10px 20px;

  text-align: center;

  border-radius: 10px;
  background: #AD8B5C;
}

.faq .more a {
  font-weight: bold;

  color: #fff;
}

.news {
  padding: 100px 0;

  /* background-color: rgb(250, 245, 245); */
}

.news .inner {
  position: relative;
  z-index: 2;
}

.news .font3 {
  color: #555;
}

.news .txt {
  width: 80%;
  margin: 0 auto;
  padding: 60px;

  border-radius: 30px;
  background: linear-gradient(#fff, rgb(250, 245, 245));
}

.news .txt ul {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  margin: 0 auto;

  gap: 5%;
}

.news .txt ul li {
  font-size: 16px;
  line-height: 2;

  width: 30%;
  height: 120px;
  margin-bottom: 20px;
}

.news .txt ul li strong {
  color: #AD8B5C;
}

.news .txt ul li span {
  color: #fff;
  background-color: #555;
}

.contact_btn {
  margin-top: -150px;
  padding-bottom: 100px;

  /* background: rgb(250, 245, 245); */
}

.contact_btn .btn {
  width: 17%;
  margin: 0 auto;
  padding: 10px 20px;

  text-align: center;

  border-radius: 10px;
  background: #AD8B5C;
}

.contact_btn .btn a {
  font-weight: bold;

  color: #fff;
}

footer {
  padding: 50px 50px 20px;

  background: #555;
}

.footer_logo {
  display: flex;
  align-items: center;
}

.footer_logo1 img {
  width: 200px;
}

.footer_logo2 img {
  width: 50px;
}

.pages {
  display: flex;

  width: 80%;
  margin: 0 auto;
}

.pages .grid {
  width: 20%;
  margin: 0 auto;
}

.pages .last {
  padding-left: 10px;

  border-left: 2px solid #fff;
}

.pages .grid li {
  font-size: 12px;

  margin-bottom: 10px;
}

.pages .grid li a {
  color: #fff;
}

.mail {
  font-size: 10px;
  font-weight: bold;

  margin-top: 10px;

  text-align: center;

  color: #fff;
}

.copyright {
  font-size: 10px;

  margin-top: 10px;

  text-align: center;

  color: #fff;
}

@media screen and (max-width: 1024px) {
  /* 大きな崩れが無いので記述なし */
}

@media screen and (max-width: 768px) {
  header a.logo {
    top: 0;

    padding: 10px;
  }

  .top {
    margin-top: 100px;
  }

  .top .inner {
    bottom: 0;

    display: unset;
  }

  .app {
    width: 80%;
    padding: 50px 50px 100px;
  }

  .app_wrap {
    display: unset;
  }

  .app .app_item {
    margin: 0;
  }

  .app .app_img {
    display: block;

    width: 60%;
    margin: 100px auto 0;
  }

  .app .app_img img {
    width: 100%;
    height: auto;
  }

  header .drawer {
    position: absolute;
    z-index: 100;
    right: 15px;

    visibility: visible;

    width: 24px;
    margin: 18px;

    cursor: pointer;

    border-top: solid 4px #aaaaaa;
  }

  header .drawer::before, header .drawer::after {
    position: absolute;
    right: 0;

    display: block;

    width: 24px;
    height: 4px;

    content: "";
    -webkit-transition: all 0.5s;
            transition: all 0.5s;

    background: #aaaaaa;
  }

  header .drawer::before {
    top: 6px;
  }

  header .drawer::after {
    top: 15px;
  }

  header .navbar {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background: #fff;
  }

  header .navbar ul {
    top: 20%;

    display: block;
    float: none;

    text-align: center;
  }

  header .navbar ul li a {
    font: 18px;
    line-height: 2;
  }

  body.nav-open header .drawer {
    border-top: 0;
  }

  body.nav-open header .drawer::before {
    top: 9px;

    transform: rotate(-45deg);
  }

  body.nav-open header .drawer::after {
    top: 9px;

    transform: rotate(45deg);
  }
}

@media screen and (max-width: 540px) {
  header a.logo img {
    width: 55px;
  }

  .font1 p {
    font-size: 28px;

    margin-bottom: 6px;
  }

  .font1 small {
    font-size: 18px;
  }

  .top {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .top .top_img {
    width: 70%;
    height: auto;
  }

  .top .top_img img {
    width: 100%;
    height: auto;
  }

  .feature .inner {
    padding: 0;
  }

  .font2 {
    font-size: 22px;
  }

  .font2::after {
    width: 30px;
  }

  .feature .inner p {
    font-size: 14px;
  }

  .font3 {
    font-size: 40px;
  }

  .app .app_img {
    margin: 50px auto 0;
  }

  .how_to {
    width: 80%;
    margin: 0 auto 50px;
  }

  .faq .txt {
    padding: 50px 30px;
  }

  .faq .text ul li, p {
    line-height: 2;
  }

  .faq .txt ul p {
    margin-bottom: 12px;
  }

  .faq .more {
    width: unset;
    margin: 50px 100px 0;
    padding: 20px 40px;
  }

  .news .txt ul {
    align-items: center;
    flex-direction: column;
  }

  .news .txt ul li {
    width: 60%;
  }

  .news .txt {
    padding: 50px 30px;
  }

  .contact_btn .btn {
    width: unset;
    margin: 0 100px;
    padding: 20px 40px;
  }
}

@media screen and (max-width: 480px) {
  header a.logo img {
    width: 40px;
  }

  header .drawer {
    margin: 4px 0;
  }

  .font1 p {
    font-size: 22px;
  }

  .font1 small {
    font-size: 12px;
  }

  .top {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .top .top_img {
    width: 80%;
    height: auto;
  }

  .top .top_img img {
    width: 100%;
    height: auto;
  }

  .feature .inner {
    padding: 0;
  }

  .font2 {
    font-size: 20px;
  }

  .font2::after {
    width: 50px;
  }

  .font3 {
    font-size: 30px;
  }

  .app {
    width: 78%;
    padding: 30px;
  }

  .font5 {
    font-size: 20px;
  }

  .app .descript {
    margin-bottom: 80px;
  }

  .app .app_img {
    width: 90%;
    margin: 0 auto;
  }

  .how_to {
    width: 96%;
    margin: 0 auto 50px;
  }

  .how_list li {
    width: 80%;
  }

  .faq .txt {
    padding: 50px 30px;
  }

  .faq .txt ul li, p {
    line-height: 2;
  }

  .faq .more {
    width: unset;
    margin: 50px 70px 0;
  }

  .news .txt {
    padding: 50px 30px;
  }

  .news .txt ul {
    align-items: center;
    flex-direction: column;
  }

  .news .txt ul li {
    width: 60%;
  }

  .contact_btn .btn {
    width: unset;
    margin: 0 70px;
  }

  .footer_logo1 img {
    width: 150px;
  }

  .footer_logo2 img {
    width: 40px;
    padding-top: 20px;
    padding-left: 20px;
  }

  .pages {
    width: unset;
  }

  .pages li {
    font-size: 9px;

    margin-bottom: 5px;
  }

  .mail {
    margin-top: 15px;
  }
}
